<head>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div id="homepage">

  <div id="title_div1">
    <div id="title_div2">

      <div id="left_stars">
        <%=image_tag("star.png", class: "star", id: "star1") %>
        <%=image_tag("star.png", class: "star", id: "star2") %>
        <%=image_tag("star.png", class: "star", id: "star3") %>
      </div>

      <h1 id="title">Explore Texas</h1>

      <div id="right_stars">
        <%=image_tag("star.png", class: "star", id: "star1") %>
        <%=image_tag("star.png", class: "star", id: "star4") %>
        <%=image_tag("star.png", class: "star", id: "star3") %>
      </div>
    </div>
  </div>

  <%=image_tag("noun_Texas_2286.png", id: "texas") %>

  <ul id="links">

    <li><%=link_to image_tag("balancedrock.jpg"), "/big_bend" %></li>

    <li><%=link_to image_tag("Crosstimbers 2005 Richards Ranch.png"), "/prairies_lakes" %></li>

    <li><%=link_to image_tag("800px-Buffalo_Lake_Texas_Windmill_2009.jpg"), "/panhandle_plains" %></li>

    <li><%=link_to image_tag("PLACES_HillCountry_H_LIST_TTD_4_cec5faeb-d592-411f-8dac-0cb6ffa17428.jpg"), "/hill_country" %></li>

    <li><%=link_to image_tag("sam-houston-statue-huntsville-3-696x407.jpg"), "/pineywoods" %></li>

    <li><%=link_to image_tag("Taos_Alan Eckert.jpg"), "/south_texas_plains" %></li>

    <li><%=link_to image_tag("5_beach.jpg"), "/gulf_coast" %></li>

  </ul>  
</div>