<head>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div id="homepage">

  <h1 id="title">Explore Texas</h1>

  <%=image_tag("noun_Texas_2286.png", id: "texas") %>

  <ul id="links">

    <li><%=image_tag("balancedrock.jpg") %></li>

    <li><%=image_tag("Crosstimbers 2005 Richards Ranch.png") %></li>

    <li><%=image_tag("800px-Buffalo_Lake_Texas_Windmill_2009.jpg") %></li>

    <li><%=image_tag("PLACES_HillCountry_H_LIST_TTD_4_cec5faeb-d592-411f-8dac-0cb6ffa17428.jpg") %></li>

    <li><%=image_tag("sam-houston-statue-huntsville-3-696x407.jpg") %></li>

    <li><%=image_tag("Taos_Alan Eckert.jpg") %></li>

    <li><%=image_tag("5_beach.jpg") %></li>

  </ul>
</div>