<head>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div id="homepage">

  <div id="title_div1">
    <div id="title_div2">

      <div id="left_stars">
        <%=image_tag("star.png", class: "star", id: "star1") %>
        <%=image_tag("star.png", class: "star", id: "star2") %>
        <%=image_tag("star.png", class: "star", id: "star3") %>
      </div>

      <h1 id="title">Explore Texas</h1>

      <div id="right_stars">
        <%=image_tag("star.png", class: "star", id: "star1") %>
        <%=image_tag("star.png", class: "star", id: "star4") %>
        <%=image_tag("star.png", class: "star", id: "star3") %>
      </div>
    </div>
  </div>

  <div id="regions_of_texas">
    <div id="panhandle_plains_region", class="region" onmouseover="remoteHover('panhandle_plains')" onmouseout="removeHover('panhandle_plains')"></div>
    <div id="big_bend_region", class="region" onmouseover="remoteHover('big_bend')" onmouseout="removeHover('big_bend')"></div>
    <div id="hill_country_region", class="region" onmouseover="remoteHover('hill_country')" onmouseout="removeHover('hill_country')"></div>
    <div id="prairies_lakes_region", class="region" onmouseover="remoteHover('prairies_lakes')" onmouseout="removeHover('prairies_lakes')"></div>
    <div id="pineywoods_region", class="region" onmouseover="remoteHover('pineywoods')" onmouseout="removeHover('pineywoods')"></div>
    <div id="gulf_coast_region", class="region" onmouseover="remoteHover('gulf_coast')" onmouseout="removeHover('gulf_coast')"></div>
    <div id="south_texas_plains_region", class="region" onmouseover="remoteHover('south_texas_plains')" onmouseout="removeHover('south_texas_plains')"></div>
  </div>

  <div id="header_toggler" onclick="toggleHeader()">
    <ul id="links">
      <%= content_tag(:div, class: "buttons", id: "big_bend") do -%>
        <div class="button_transform">
          <li><%=link_to "Big Bend", "/big_bend", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "panhandle_plains") do -%>
        <div class="button_transform">
          <li><%=link_to "Panhandle", "/panhandle_plains", class: "text_display" %></li>
        </div>
      <% end %>
      <%= content_tag(:div, class: "buttons", id: "hill_country") do -%>
        <div class="button_transform">
          <li><%=link_to "Hill Country", "/hill_country", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "prairies_lakes") do -%>
        <div class="button_transform">
          <li><%=link_to "Prairies", "/prairies_lakes", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "pineywoods") do -%>
        <div class="button_transform">
          <li><%=link_to "Pineywoods", "/pineywoods", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "gulf_coast") do -%>
        <div class="button_transform">
          <li><%=link_to "Gulf Coast", "/gulf_coast", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "south_texas_plains") do -%>
        <div class="button_transform">
          <li><%=link_to "South Plains", "/south_texas_plains",class: "text_display" %></li>
        </div>
      <% end -%>
    </ul>
  </div>
</div>

<script>
  function remoteHover(i) {
    document.getElementById(i).className = 'java_hover';
  }

  function removeHover(i) {
    document.getElementById(i).className = 'buttons';
  }

  function toggleHeader() {
    var header = document.querySelector("#button_panel");
    var toggler = document.querySelector("#header_toggler");
    if (header.style.left == "100%") {
      header.style = "left: 0; opacity: 1;";
      toggler.style["background-position"] = "0 -150px";
    } else {
      header.style = "left: 100%; opacity: 0;";
      toggler.style["background-position"] = "initial";
    }
  }
</script>