<head>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div id="homepage">

  <div id="title_div1">
    <div id="title_div2">

      <div id="left_stars">
        <%=image_tag("star.png", class: "star", id: "star1") %>
        <%=image_tag("star.png", class: "star", id: "star2") %>
        <%=image_tag("star.png", class: "star", id: "star3") %>
      </div>

      <h1 id="title">Explore Texas</h1>

      <div id="right_stars">
        <%=image_tag("star.png", class: "star", id: "star1") %>
        <%=image_tag("star.png", class: "star", id: "star4") %>
        <%=image_tag("star.png", class: "star", id: "star3") %>
      </div>
    </div>
  </div>

  <%=image_tag("noun_Texas_2286.png", id: "texas") %>

  <div id="header_toggler" onclick="toggleHeader()">
    <ul id="links">
      <%= content_tag(:div, class: "buttons", id: "big_bend") do -%>
        <div class="button_transform">
          <li><%=link_to "Big Bend", "/big_bend", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "prairies_lakes") do -%>
        <div class="button_transform">
          <li><%=link_to "Prairies/Lakes", "/prairies_lakes", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "panhandle_plains") do -%>
        <div class="button_transform">
          <li><%=link_to "Panhandle Plains", "/panhandle_plains", class: "text_display" %></li>
        </div>
      <% end %>
      <%= content_tag(:div, class: "buttons", id: "hill_country") do -%>
        <div class="button_transform">
          <li><%=link_to "Hill Country", "/hill_country", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "pineywoods") do -%>
        <div class="button_transform">
          <li><%=link_to "Pineywoods", "/pineywoods", class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "south_texas_plains") do -%>
        <div class="button_transform">
          <li><%=link_to "South Texas Plains", "/south_texas_plains",class: "text_display" %></li>
        </div>
      <% end -%>
      <%= content_tag(:div, class: "buttons", id: "gulf_coast") do -%>
        <div class="button_transform">
          <li><%=link_to "Gulf Coast", "/gulf_coast", class: "text_display" %></li>
        </div>
      <% end -%>
    </ul>
  </div>
</div>

<script>
  function toggleHeader() {
    var header = document.querySelector("#button_panel");
    var toggler = document.querySelector("#header_toggler");
    if (header.style.left == "100%") {
      header.style = "left: 0; opacity: 1;";
      toggler.style["background-position"] = "0 -150px";
    } else {
      header.style = "left: 100%; opacity: 0;";
      toggler.style["background-position"] = "initial";
    }
  }
</script>