<head>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div id="homepage">

  <h1 id="title">Explore Texas</h1>

  <div id="homepage_text">
    <p> Welcome to Timeless Texans, your one-stop shop </p>
    <p> for information on cuisine, landmarks, and history </p>
    <p> within the state of Texas. </p>
    <p> lalallalalalalalallalalallalalallalalla </p>
    <p> klalalalallalalalalalalalalallalalalala </p>
  </div>

  <div id="links">

    <a id="rock_link"><%=image_tag("balancedrock.jpeg", id: "rock") %></a>

    <%= link_to "Prairies / Lakes" %>

    <%= link_to "Panhandle Plains" %> <br/>

    <%= link_to "Hill Country" %>

    <%= link_to "Pineywoods" %> <br/>

    <%= link_to "South Texas Plains" %>

    <%= link_to "Gulf Coast" %>

  </div>
</div>